@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    scroll-behavior: smooth;
    text-decoration: none;
    border: none;
    outline: none;
}

:root{
    --bg-color : #1f242d;
    --second-bg-color : #323946;
    --text-color : #fff;
    --main-color : #0ef;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.Home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.info h3{
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--text-color);
}

.info h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--main-color);
}

.info h1{
    font-size: 4rem;
    font-weight: 700;
}

.info p{
    font-size: 1.6rem;
}


.links a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    color: var(--main-color);
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    margin: 3rem 1.5rem 3rem 0;
    transition: .6s;
}

.links a:hover{
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.Home-image img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 20rem;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.logo{
    font-size: 2.5rem ;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

.menu {
    color: var(--text-color);
    font-size: 3.2rem;
    transition: 0.3s;
    display: none;
}

.menu:hover{
    color: var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .7s;
}

.btn:hover{
    box-shadow: none;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.heading{
    font-size: 4.2rem;
    text-align: center;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-img img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 20rem;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.8rem;
    margin: 2rem 0 3rem;
}

.skills h2{
    margin-bottom: 5rem;
}

.skills-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.skills-container .skills-box{
    flex: 1 1 30rem;
    text-align: center;
    background: var(--bg-color);
    border-radius: 2rem;
    border: .2rem solid var(--second-bg-color);

}

.skills-container .skills-box:hover{
    background: var(--second-bg-color);
}

.skills-box i{
    font-size: 3.4rem;
    margin: 2rem 0;
}

.skills-box h3{
    font-size: 2.1rem;
}

.skills-box p{
    font-size: 1.6rem;
    text-align: center;
    margin: 2rem 0 3rem;
}

.skills-box a{
    margin-bottom: 2rem;
}

.Portfolio{
    background: var(--second-bg-color);
}

.Portfolio h2{
    margin-bottom: 2rem;
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4.5rem;
}

.portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}


.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img{
    transform: scale(1.1);
}

.project-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .project-content {
    transform: translateY(0);
}

.project-content h2{
    font-size: 3rem;
}

.project-content p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.project-content a{
    background: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    transition: 0.4s;
}

.project-content a:hover{
    box-shadow: 0 0 1rem var(--bg-color);
}

.project-content a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}

.contact h2{
    margin-bottom: 3rem;
}
/* 
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
} */

.footer{
    background: var(--second-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
}

.footer .footer-text p{
    font-size: 1.4rem;
}

.footer .footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .4s;
}

.footer .footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer .footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

.contactSource {
    color: var(--text-color);
    font-size: 1.6rem;
    transition: all 0.2s ease-in-out;
}

.contactSource:hover{
    color: var(--main-color);
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-bottom: 10rem;
}


/* BREAKPOINTS */

@media (max-width:1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width:991px){
    .header{
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .skills {
        padding-bottom: 7rem;
    }

    .Portfolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width:768px){
    .menu {
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2) ;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2) ;
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .Home {
        flex-direction: column;
    }

    .Home .info h3{
        font-size: 2.6rem;
    }

    .Home .info h1{
        font-size: 5rem;
    }

    .Home-image img{
        width: 300px;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img{
        width: 300px;
        margin-top: 4rem;
    }

    .skills h2{
        margin-bottom: 3rem;
    }

    .Portfolio h2{
        margin-bottom: 3rem;

    }

    .portfolio-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html{
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .Home-image img {
        width: 90vw;
    }

    .about-img img{
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}